@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta la scrollbar sin desactivar el scroll */
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/* Fuerza el color blanco para todos los textos dentro de secciones del menú */
.menu-section * {
  color: white !important;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

/* Evita que el scroll lateral se vea por defecto */
html, body {
  background-color: black;
  overflow-x: hidden;
}

.section-title {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
  position: sticky;
  top: 0;
  background-color: black;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  z-index: 10;
}
.sticky-title {
  position: sticky;
  top: 0;
  background-color: black; /* para que el fondo tape lo que quede debajo */
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  z-index: 10;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Oculta scroll vertical */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

.responsive-title {
  font-size: 3rem; /* tamaño equivalente a text-5xl */
  line-height: 1.1;
}

@media (max-width: 600px) {
  .responsive-title {
    font-size: 1.8rem; /* tamaño reducido para móvil */
    line-height: 1.2;
  }
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Mejora visual en el enfoque (accesibilidad visual) */
*:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}

/* Transiciones suaves */
html {
  scroll-behavior: smooth;
}

.grecaptcha-badge {
  opacity: 0.001 !important;
  pointer-events: none !important;
  z-index: -9999 !important;
}

button, a, input, textarea {
  transition: all 0.2s ease-in-out;
}
